/* Custom Styles */
body {
    font-family: "Inter", sans-serif;
}

/* Custom transition for theme toggle */
.theme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for the notification toast */
#toast {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Neon effect for the author link in dark mode */
.dark #author-link {
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    text-shadow: 0 0 8px rgba(251, 146, 60, 0.6);
    /* Orange glow */
}

.dark #author-link:hover {
    text-shadow: 0 0 16px rgba(251, 146, 60, 0.9);
}
